<p id="notice"><%= notice %></p>

<h1>Duenios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @duenios.each do |duenio| %>
      <tr>
        <td><%= duenio.nombre %></td>
        <td><%= duenio.direccion %></td>
        <td><%= link_to 'Show', duenio %></td>
        <td><%= link_to 'Edit', edit_duenio_path(duenio) %></td>
        <td><%= link_to 'Destroy', duenio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Duenio', new_duenio_path %>
