<%= form_with(model: mascotum, local: true) do |form| %>
  <% if mascotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mascotum.errors.count, "error") %> prohibited this mascotum from being saved:</h2>

      <ul>
      <% mascotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
  <div class="form-group row">
    <%= form.label :nombre, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
    <%= form.text_field :nombre, class:"form-control"  %>
    </div>
  </div>
</div>

  <div class="field">
  <div class="form-group row">
    <%= form.label :doctor_id, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
    <%= form.text_field :doctor_id, class:"form-control"  %>
    </div>
  </div>
</div>

  <div class="field">
  <div class="form-group row">
    <%= form.label :duenio_id, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
    <%= form.text_field :duenio_id, class:"form-control"  %>
    </div>
  </div>
</div>

 <div class="custom-file">

  <div class="field">
    <%= form.label :image, "Imagen del dueño", class:"custom-file-label"  %>
    <%= form.file_field :image, class:"custom-file-input"  %>
  </div>
  </div>
  <br>
    <br>

  <div class="actions">
    <%= form.submit "Registrar", class:"btn btn-primary" %>
  </div>
<% end %>

