<%= render "layouts/headerad" %>
<br>
<br>
<br>
<div class="container text-center bg-light">

<h1>Datos de la mascota <%= @mascotum.nombre%></h1>
  
  <p>
    <strong>Clave:</strong>
    <%= @mascotum.id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= @mascotum.nombre %>
  </p>
 

  <div class="card bg-dark text-white">
  <img src="<%= url_for(@mascotum.image)%>" class="card-img" alt="...">
  <div class="card-img-overlay">
    
  </div>
</div>
<br>
<br>
<br>

  <%= link_to 'Editar datos', edit_mascotum_path(@mascotum), class:"btn btn-secondary" %> |
  <%= link_to 'Atras', mascota_path, class:"btn btn-primary" %>

  <br><br>
  <h1 class="display-3">Agregar un Tratamiento</h1>
   <%= form_tag mascota_agregarTratamiento_path, method: :get, style:"margin:0px" do %>
      <%= text_field_tag :mascota_id,@mascotum.id, style:"display:none"%>
      <%= text_field_tag :doctor_id,@mascotum.doctor.id, style:"display:none"%>
      <%= text_area_tag :descripcion, nil ,{class:"form-control", rows:3}%>
      <%= content_tag :button, type: :submit, style: "background:none; border:none; width: 100%; padding: 10px;" do%>
          agregar
      <%end%>
    <%end%>
  
<br>
<br>
<br>
 <div class="row">
  <div class="col ">
      <h1 class="display-4" href="#ab">Dueño</h1>
      <div class="card">
        <img src="<%= url_for(@mascotum.duenio.image)%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @mascotum.duenio.nombre%></h5>
          <p class="card-text">Clave del cliente: <%= @mascotum.duenio.id%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @mascotum.duenio.direccion%></li>
        </ul>
        <div class="card-body">
          <a href="<%= url_for(@mascotum.duenio)%>" class="btn btn-primary">Detalles</a>
        </div>
      </div>
       
    </div>
    
    <div class="col">
      <h1 class="display-4" href="#ab">Doctor Asignado</h1>
      <div class="card">
        <img src="<%= url_for(@mascotum.doctor.image)%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= @mascotum.doctor.nombre%></h5>
          <p class="card-text">Clave del doctor: <%= @mascotum.doctor.id%></p>
        </div>
        
        <div class="card-body">
          <a href="<%= url_for(@mascotum.doctor)%>" class="btn btn-primary">Detalles</a>
        </div>
      </div>
       
    </div>
    <h1 class="display-4">Esta mascota tiene actualmente <%= Recetum.where("mascota_id=?",@mascotum.id).count %> tratamientos</h1>
<div class="row">

    <% Recetum.where("mascota_id=?",@mascotum.id).each do |receta| %>

      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
         <div class="card-header">
            Clave de la receta: <%= receta.id %>
          </div>
          <ul class="list-group list-group-flush">
            <% Tratamiento.where("receta_id=?",receta.id).each do |tratamiento| %>
            <li class="list-group-item"><%=tratamiento.descripcion%></li>
            <%end%>
          </ul>
                    <%= link_to 'Eliminar', receta, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>

      </div>
      </div>

    <% end %>
</div>
</div>









