<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <div class="form-group row">
    <%= form.label :nombre, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
    <%= form.text_field :nombre, class:"form-control"  %>
    </div>
  </div>
</div>
  <div class="custom-file">

  <div class="field">
    <%= form.label :image, "Imagen del doctor", class:"custom-file-label"  %>
    <%= form.file_field :image, class:"custom-file-input"  %>
  </div>
  </div>
  <br>
    <br>

  <div class="actions">
    <%= form.submit "Registrar", class:"btn btn-primary" %>
  </div>
<% end %>
