<%= render "layouts/headerad" %>
<br>
<br>
<div class="container text-center bg-light">
<h1 class="display-1">Nuestros doctores</h1>
<div  class="text-center ">
  <h1 class="display-4"> Actualmente existen <%= Doctor.all.count %> doctores registrados</h1> 
  <a href="<%= new_doctor_url%>" class="btn btn-primary">Registrar un nuevo doctor</a>
</div>
<br>
<br>
 <div class="row">
    <% @doctors.each do |doctor| %>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
        <img src="<%= url_for(doctor.image)%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clave: <%= doctor.id %></h5>
          <p class="card-text"><%= doctor.nombre %></p>
          <a href="<%= url_for(doctor)%>" class="btn btn-primary">Detalles</a>
        </div>
      </div>
      </div>
    <% end %>
 </div>
<br>
</div>