
<%= render "layouts/headerad" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center bg-light">

<h1>Editar al doctor <%= @doctor.nombre%></h1>

<%= render 'form', doctor: @doctor %>
<%= link_to 'Detalles actuales', @doctor %> |
<%= link_to 'atras', doctors_doctoradmin_path %>
</div>
