<%= form_with(model: tratamiento, local: true) do |form| %>
  <% if tratamiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tratamiento.errors.count, "error") %> prohibited this tratamiento from being saved:</h2>

      <ul>
      <% tratamiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :receta_id %>
    <%= form.text_field :receta_id %>
  </div>

  <div class="field">
    <%= form.label :medicamento_id %>
    <%= form.text_field :medicamento_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
